.footer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
    gap: 5px;
    flex-direction: column;
}

.footer--msg {
    font-size: 36px;
}

.footer--icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: large;
}

.footer--follow--me {
    font-weight: bold;
    margin-bottom: 1rem;
}